Django>=5.0
matplotlib==3.10.9
pytest==9.0.3
python-dotenv==1.2.2
requests==2.33.1
django-phonenumber-field[phonenumbers]
Pillow  # for ImageField.
psycopg2-binary  # postgresql driver.
gunicorn  # production web-server.